/*
header & footer : #004c8c
content : #58a5f0
box : #0277bd
*/

html, body{
    margin: 0;
    padding: 0;
    background-color: #58a5f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 50px;
    margin: 10px;
}

.subTitle{
    font-size: 36px;
    margin: 5px;
    padding: 10px;
}

.header{
    background-color: #004c8c;
    height: 110px;
    width: auto;
    color: white;
}

.logo{
    width: 110px;
    height: 110px;
    float: left;
}

.navbar{
    float: right;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.navbar:hover .dropdown{
    display: block;
}

.dropdown > ul > li{
    list-style-type: none;
    display: block;
    font-size: 20px;
    text-align: right;
    float: none;
}

.dropdown > ul{
    padding-inline-start: 0px;
}

.dropdown{
    display: none;
    background-color: #004c8c;
    position: absolute;
    top: 70px;    
    padding: 10px 10px 0px 10px;
    width: fit-content;
    right: 20px;
}

.dropdown > ul > li:hover{
    background-color: #0277db;
}


.footer{
    text-align: center;
    background-color: #004c8c;
    height: auto;
    width: auto;
    color: white;
    font-size: 20px;
}

.footerText{
    margin: auto;
    padding: 5px;
}

.subContent{
    background-color: #0277db;
    display: block;
    width: 95%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
}

.subTitle2{
    font-size: 30px;
}
